body{
  font-family: 'Lato', sans-serif;
}

/* ==========================================================================
   Nav styles
========================================================================== */
.nav-wrapper {
	background-color: #202020;
}

.item {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem;
	cursor: pointer;
  color: white;
  font-size: 2rem;
}

.navbar-nav{
	margin: auto;
}

/* ==========================================================================
   Search styles
========================================================================== */

.button-style{
  position: relative;
  background-color: #303030;
  color:  white;
  
  margin-left:-3rem;
}

.search-input {
  border-radius: .4rem;
}

.searchbar{
  max-width: 40rem;
}

.highlight{
  background-color: yellow;
}

input{
  outline: none;
}

button:focus {outline:0;}


/* ==========================================================================
   Footer styles
========================================================================== */

.footer{
  background-color: #202020;

}

.footer-text{
  color: white;
  font-size: 2rem;
}

.helper3{
  position: relative;
  margin-left: .25rem;
  margin-right: .4rem;
}



/* ==========================================================================
   Card styles
========================================================================== */

.card{
	cursor: pointer;
  border: none;
}

.img-thumbnail{
  height: 20rem;
	width: 100%;
  border: none;
  border-radius: 10px;
}

.summary{
  position: relative;
  left: .25rem;
  margin-top: -.5rem;
}

.border-format{
  border: 4px solid rgb(92, 28, 28);
  width: 99%;
  border-radius: 10px;
}

.helper{
  position: relative; 
  margin-top: .5rem;
  margin-left: .5rem;
}

.helper2{
  position: relative;
  margin-left: .5rem;
}


/* ==========================================================================
   Form styles
========================================================================== */

.throw-error{
	border-color: red;
  }

.warning{
	color: red;
	margin-left: 1rem;
	font-size: 20px;
}

.form-success{
  font-size: 2rem;
}

/* ==========================================================================
   View styles
========================================================================== */

.img-view{
  max-width:70%;
  max-height:70%;
  border: 4px solid rgb(92, 28, 28);
  background: #eee;
  padding:3px;
}

.edit-button{
  border-radius: 10px;
  margin-left: 1rem;
  margin-bottom: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: #202020;
  color: white;
  border: 1px solid;
  border-color: #202020;
}

.submit-button{
  background-color: #202020;
  margin-left: 1rem;
  border-radius: 10px;
  color: white;
}

.discard-button{
  background-color: white;
  margin-left: 1rem;
  border-radius: 10px;
  color: #202020;
}

.text-box-pos{
  margin-left: -.75rem;
}

.delete-button{
  border-radius: 20px;
  background-color: #202020;;
  width: 3rem;
  height: 2rem;
  margin-left: .5rem;
  margin-top: -.1rem;
  border: 1px solid #202020;
  color: white;
}

.undo-delete-button{
  border-radius: 20px;
  background-color: white;;
  width: 8rem;
  height: 2rem;
  border: 1px solid #202020;
  color: #202020;
  height: fit-content;
}

.color-container{
  display: inline-flex;
}

.center-parent{
  text-align: center;

}

.center-child{
  display: inline-block;
}

.pos-image{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.descriptioncenter{
  display: inline-block;
}

/* ==========================================================================
   Create styles
========================================================================== */

.create-btn{
  background-color: #202020;
  color:  white;
  border-radius: 20px;
  padding:.5rem;
}