{% extends 'layout.html' %}

{% block navigation %}
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="/" class="item">Home</a>
          <form class=" item form-to-submit">
            <div class="d-flex justify-content-center">
                <div class="searchbar">
                  <input class="search-input" type="text" name="" placeholder="Search...">
                 
                    <button class="button-style">
                      <i class="fas fa-search"></i>
                    </button>
      
                </div>
            </div>
          </form>
          <a href="/create" class="item">Create</a>
        </div>
      </div>
    </div>
  </nav>
{% endblock navigation %}


{% block content %}
  <!-- render list of books  -->
  <div class="row">
    <div class="d-flex justify-content-center">
      <h4><strong>ArtArch is (one of) the most robust, volunteer created, art archives in the world.</strong></h4>
    </div>
  </div>
  <div class="row art"></div>
{% endblock content %}

{% block footer %}
  <span class="footer-text">ArtArch</span>
{% endblock %}


{% block js_file %}
  <script src="{{ url_for('static', filename='art.js') }}"></script>
{% endblock %}

{% block js_data %}
  <script>
    const art = JSON.parse('{{ art|tojson }}')
  </script>
{% endblock %}
    